anyio==3.6.1
certifi==2022.6.15
charset-normalizer==2.0.12
cli-helpers==2.2.1
click==8.1.3
colorama==0.4.5
configobj==5.0.6
delegator.py==0.1.1
distlib==0.3.6
dnspython==2.2.1
fastapi==0.79.0
filelock==3.8.0
gunicorn @ git+https://github.com/benoitc/gunicorn.git@0b953b803786997d633d66c0f7c7b290df75e07c
Flask==2.2.2
frida==15.2.2
frida-tools==11.0.0
h11==0.13.0
httptools==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
lief==0.12.1
litecli==1.9.0
MarkupSafe==2.1.1
mysql-connector-python==8.0.30
objection==1.11.0
pexpect==4.8.0
platformdirs==2.5.2
prompt-toolkit==3.0.30
protobuf==3.20.1
ptyprocess==0.7.0
pydantic==1.9.1
Pygments==2.12.0
pymongo==4.2.0
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
semver==2.13.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.19.1
tabulate==0.8.10
typing_extensions==4.3.0
urllib3==1.26.11
uvicorn==0.18.2
virtualenv==20.16.5
watchfiles==0.16.1
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.2.2
